$magic-number: 16px;
$breakpoint: 960px;

$font-default: 'Poppins', sans-serif;

$white: #fff;
$black: #000;
$grey: #f2f5f8;
$color-primary: #2e2f41;
$color-secondary: #f86b4f;
$color-tertiary: #4a4d72;
