#mod-benefits {
  background-color: $grey;
  overflow: hidden;
  background-image: url('../svg/stars-02.svg');
  background-size: 25%;
  background-position: 100% 120px;
  background-repeat: no-repeat;
  padding-top: 55px;
  position: relative;
  z-index: 2;

  @include media-down {
    overflow: visible;
    background-image: none;
  }

  @include media-up {
    padding-top: 127px;
  }

  .bnf-list {
    @include media-up {
      position: relative;
      margin-left: -33px;
      margin-right: -33px;
      margin-top: 84px;
      max-width: 802px;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 175px;
    }

    @include media-down {
      padding-top: 40px;
    }

    .info {

      @include media-down {
        margin-top: 47px;
      }

      h4 {
        font-size: 17px;
        line-height: 21px;
        font-weight: 600;
        margin-bottom: 16px;
      }
    }

    .item {
      @include media-up {
        width: percentage(1/3);
        text-align: center;
        padding: 0 33px;

        &:nth-child(2) {
          .ico-wrap {
            img {
              max-height: 100%;
            }
          }
        }
      }
      @include media-down {
        padding-bottom: 48px;
        &:last-of-type {
          padding-bottom: 85px;
        }
      }
    }

    .ico-wrap {
      @include media-up {
        width: 138px;
        height: 138px;
        overflow: visible;
        margin: 0 auto 32px;
        border-radius: 50%;
        border: 6px solid $white;
      }
      @include media-down {
        margin-left: -2rem;
        margin-right: -2rem;
        height: 170px;
        padding-top: 25px;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
        max-height: 110%;
      }

      &.orange {
        background-color: $color-secondary;
      }

      &.dark {
        background-color: $color-primary;
      }

      &.blue {
        background-color: $color-tertiary;
      }

      &.light {
        background-color: transparent;
      }
    }

    .sticker {
      @include media-down {
        position: absolute;
        width: 85px;
        height: 123px;
        bottom: -20px;
        right: 2px;
        &:not(.mobile) {
          display: none;
        }
      }

      @include media-up {
        position: absolute;
        right: 0;
        bottom: 40px;
        transform: translateX(100%);

        &.mobile {
          display: none;
        }
      }
    }
  }
}
