#mod-journey {
  background-color: $color-secondary;
  color: $white;
  padding-top: 102px;

  @include media-down {
    padding-top: 55px;
    padding-bottom: 70px;
    background-image: none;
  }

  .tabs {
    display: flex;
    align-items: flex-start;
    padding-top: 69px;
    position: relative;
    @include media-down {
      padding-top: 0;
      margin-top: 33px;
    }
  }

  .content {
    flex-grow: 1;
    display: none;
    flex-wrap: wrap;

    &.active {
      display: flex;
      @include media-down {
        display: block;
      }
    }

    .image {
      width: calc(100% - 380px);

      @include media-down {
        width: 100%;
        height: 260px;
        margin-bottom: 44px;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
        padding-right: 30px;
        width: 349px;
        @include media-down {
          padding: 0 50px;
          margin: 0 auto;
          height: 100%;
          width: auto;
        }
      }
    }

    .text {
      width: 380px;
      @include media-down {
        width: 100%;
      }
    }
  }

  .links {
    position: relative;
    margin-right: 60px;
    top: 60px;

    @include media-down {
      position: absolute;
      top: 10px;
      left: 0;
      margin-right: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 20px;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      background-color: $white;
    }
  }

  .tab-link {
    display: block;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    font-weight: 600;
    position: relative;

    @include media-down {
      width: 30px;
      height: 30px;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 24px;
      font-size: 20px;

      @include media-down {
        line-height: 16px;
        font-size: 16px;
      }
    }

    &::before {
      content: '';
      width: 43px;
      height: 43px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $white;
      border-radius: 50%;

      @include media-down {
        width: 30px;
        height: 30px;
      }
    }

    &.active {
      color: $white;

      &::before {
        background-color: $color-primary;
      }

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent $color-primary;
        position: absolute;
        top: 50%;
        right: -7px;
        transform: translateY(-50%);
        @include media-down {
          right: -5px;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 52px;
      @include media-down {
        margin-bottom: 25px;
      }
    }
  }
}
